<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "What To Cook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='flex border-b py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
      <div class='flex flex-wrap items-center gap-5 w-full'>
        <h1 class="font-bold text-3xl">What to cook?</h1>
        <div class="container font-[sans-serif] space-y-6">
          <div class="bg-blue-100 text-blue-800 0 p-4 rounded-lg relative" role="alert">
            <strong class="font-bold text-sm">Info!</strong>
            <span class="block text-sm sm:inline max-sm:mt-2 max-sm:ml-0 ml-4 mr-8">For search write at least 2 charecters. To find more ingredients seperate them using ",".</span>
          </div>
        </div>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
